$content-max: 1176px;
$header-footer-height: 80px;
$unit: 1rem;

$background: #f9f9f9;
$header: #FFF;
$primary: #0ad4fa;
$gray-dark: #616161;
$gray: #a3a3a3;
$gray-light: #d9d9d9;

$transition: all .25s cubic-bezier(.39,.58,.57,1);
$transition-large: all .75s cubic-bezier(.39,.58,.57,1);